// Colors 

$font-blue: rgb(7, 7, 27);
$dark_blue: #1E2D4D;
$light_blue: #B5CAEE;
$transparent_gray: rgba(0, 0, 0, 0.4);
$transparent_dark_gray: rgba(0, 0, 0, 0.6);
$white: rgb(247, 247, 247);
$ready_green: #a2e27a;
$winner_yellow: #e5e74e;
$error_red: #e2aeae;

// Breakpoints 
$tablet: 768px;
$tablet_large: 810px;
$desktop: 1280px;
$desktop_large: 1600px;
 