.mobile-guesses {
  position: fixed;
  top: 0;
  width: 100%;

  &__item, .correct-guess {
    position: absolute;
    top: -50px;
    left: 50%;
    translate: -50% 0;
    padding: 5px 10px;
    background-color: $white;
    border-radius: 3px;
    opacity: 1;
    color: $dark_blue;
  }
  .correct-guess {
    background-color: $ready_green;
  }
  .show-guess {
    animation-name: showGuess;
    animation-duration: 2000ms;
  }

  @keyframes showGuess {
    25% {top: 100px;}
    70% {opacity: 1;}
    100% {opacity: 0; top: 100px;}
  }

}