.avatars-container {
  width: 100%;
  max-width: 350px;
  height: fit-content;
  background-color: $transparent_gray;
  padding: 20px 40px 30px;
  @include flex_centered(column);
  justify-content: space-between;
  gap: 30px;
  border-radius: 10px;

  &__heading {
    text-align: center;
    color: $white;
  }
  &__grid {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;

    .grid-img {
      width: 23%;
      height: 23%;
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      background-color: $transparent_gray;
      cursor:pointer;
    }
    .img--selected {
      outline: 4px solid $ready_green;
    }
  }
  &__get-more {
    background-color: $ready_green;
    padding: 4px 15px;
    border-radius: 3px;
    cursor:pointer;
  }
}
.home-btn {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  background-color: $white;
  text-decoration: none;
  text-align: center;
  color: $font-blue;
  border-radius: 5px;
  border: none;
  cursor:pointer;
}
.code-input-form {
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition-property: height;
  transition-duration: 400ms;
  overflow: hidden;

  .code-input {
    width: 100%;
  }
  .home-btn {
    width: 100%;
    background-color: $ready_green;
  }
}
.show-form {
  height: 150px;
}